.compania{
    width:100px;
    height:100px;
    background:white;
    border: 1px solid blue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 5px 5px 5px 5px;
}
.compania:hover{
    cursor: pointer;
}
.pos .producto{
   margin:1px !important;font-size:20px;
   word-wrap: break-word;
   line-height: 25px;padding-top:20px;
   display: inline-block;
}
.producto:hover{
    cursor: pointer;
}
.pos .invisible{
    display:none;
}
.tiene-error{
    border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    color:red !important;
}
.desactivado{ pointer-events: none; }

